*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    width: 100vw;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar .search-bar {
  position: relative;
  left: 10rem;
}

.navigation-logo img{
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

#search-bar{
    width: 450px;
}

.search-bar .btn:hover {
    background-color: black;
    color: white;
}

.navbar #myNavbar-items {
    position: relative;
    left: 12rem;
    font-size: 1.2rem;
}

#myNavbar-items ul li {
    margin: 0 0.5rem;

}

#myNavbar-items ul li:hover {
    color: black;
}

.navigation-logo img{
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

.profile a{
    font-size: 2rem;
    margin: 0 3rem 0 1rem;
    text-decoration: none;
    color: black;
}

/*Main*/

.box {
    height: 600px;
    width : 1475px;
    background-image: url("./images/background2.jpg");
    background-size: cover;
    border-radius: 1rem;
    margin: 2rem 2rem;
    box-shadow: -10px 10px 20px grey;

}

.box div {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    justify-content: flex-start;
    position: relative;
    top: 5rem;
    left: 10rem;
}

.box div span{
    margin: 1rem;
}
