*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.navbar{
    width: 100vw;
    height: 10%;
    position: fixed;
    top: 0;
}

.navbar .search-bar {
    position: relative;
    left: 10rem;
}

.navigation-logo img{
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

#search-bar{
    width: 450px;
}

.search-bar .btn:hover {
    background-color: black;
    color: white;
}

.search-bar .btn:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}

.navbar #myNavbar-items {
    position: relative;
    left: 10rem;
    font-size: 1.2rem;
}

#myNavbar-items ul li {
    margin: 0 0.5rem;

}

#myNavbar-items ul li:hover {
    color: black;
}

.btn:hover {
    background-color: black;
    color: white;
}

.nav-item:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}

.navigation-logo img{
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

/*Main*/

.box {
    height: 700px;
    width : 1475px;
    background-image: url("./images/background2.jpg");
    background-size: cover;
    border-radius: 1rem;
    margin: 0.5rem 2rem 2rem 2rem;
    box-shadow: -1rem 3rem 7.5rem black;
    z-index: 10;
}

.box div {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    justify-content: flex-start;
    position: relative;
    top: 5rem;
    left: 10rem;
}

.box div span{
    margin: 1rem;
}

.categories-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
}
.categories-heading  .cat-h-one {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.categories-heading  .cat-h-two {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

.box-bg {
    width: 100%;
    height: 280rem;
    position: absolute;
    top: 1600px;
    background-color: #001D3D;
    box-shadow: inset 1rem 1rem 15rem black;
}

/* Categoreis */

.categories {
    width: 90%;
    height: 90rem;
    border-radius: 2rem;
    position: relative;
    top: -40rem;
    left: 5rem;
    margin: 1.5rem 0 1.5rem 0;
    background-color: rgb(255, 255, 255);
}

/* Row */
.categories .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 4rem;
}


.categories .row span {
    padding: 2rem ;
    width: 30rem;
    height: 25rem;
    margin: 0 1rem 3rem 1rem;
    border-radius: 2.5%;
    color: black;
}

.categories .row  span a img {
    width: 26rem;
    height: 18rem;
    margin-bottom: 1.5rem;
    border-radius: 2.5%;
}

.categories .row span  a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
}

.categories-items:hover {
    border-radius: 2.5%;
    color: black;
    box-shadow: -0.5rem 1rem 10rem dimgray;
}

.categories-items:active {
    transform: scale(0.8);
    transition: transform .2s;
}

/* Top picks */

.top-picks {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40rem;
}

.picks-rows {
    margin-bottom: 1rem;
    padding: 0 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-pick-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    color: white;

}


.card-info {
    width: 32rem;
    height: 32rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: inset 0 0 20px black; /* Inner shadow */
    margin: 0 0 1rem 0;
    padding: 1.5rem;
    position: relative;
    top: -40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info img {
    width: 25rem;
    height: 22rem;
    border-radius: 2%;
}

.card-text {
    font-family : 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    margin-top: 2rem;
}

.card-info:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}

.picks-rows-btn {
    width : 100%;
    height: 4rem;
    position: relative;
    top: -37.5rem;
    display: flex;
    justify-content: center;
}

.button {
    width: 12rem;
    height: 4rem;
    border-radius: 1rem;
    padding: 1.25rem 0.8rem;
    z-index: 3;
    box-shadow: 0 0 3rem black;
    background-color: rgba(0,53,102,0.8);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: #001D3D;
}

.button:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}

/* Testimonials */

.testimonials {
    width: 90%;
    height: 57rem;
    background-color: white;
    box-shadow: inset 0 0 20px black; /* Inner shadow */
    z-index: 2;
    margin: 5rem 5rem;
    padding: 2rem;
    position: relative;
    top: -40rem;
}

.testimonials-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #001D3D;
    text-align: center;
    margin : 1rem auto;
}

.testimonials-row {
    display: flex;
    flex-direction: row;
}

.testimonials-ans {
    width : 25rem;
    height: 20rem;
    background-color: white;
    box-shadow: 0 1rem 5rem black;
    border-radius: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonials-ans div {
    margin: 0.6rem auto;
}

.testimonials-ans .testimonials-name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #001D3D;
}

.testimonials-text {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.testimonials-text p b{
    text-align: center;
    padding: 0 0.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
}

.download-bg {
    width : 60%;
    height : 47.5rem;
    background-color: #e6dbb9;
    box-shadow: inset 0 0 20px black; /* Inner shadow */
    margin-left: 5rem;
    position: relative;
    top: -45rem;
}

/* Download */

.download-bg img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -4rem;
}

.app-logo {
    height: 10rem;
    width: 10rem;
    background-color: whitesmoke;
    position: relative;
    top: -35rem;
    left: 13rem;
}

.app-logo img {
    width: 60%;
    height: 60%;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.download-store {
    width: 25rem;
    height: 15rem;
    padding: 0 2rem;
    position: relative;
    top: -80rem;
    left: 65rem;

}
.download-store div img{
    width: 20rem;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

.download-store div img:active {
    transform: scale(0.8);
    transition: transform 0.2s ease-in;
}

/* Footer */

footer {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    position: relative;
    bottom: -285rem;

}

/* Faqs */

.faqs {
    width:100%;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.faqs-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

.faqs .faqs-question {
    margin: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2rem;
    color: #001D3D;
}

.faqs-ans {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: #001D3D;
}

/* Content */

.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-content div {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    height: 30rem;
}

.footer-company {
   height: 30rem;
   width:25%;
}

.footer-company div {
    width: 100%;
    position: relative;
    top: 2rem;
    left: -2rem;
}

.footer-company div p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: #001D3D;
}

.footer-company div a {
    margin: 0.5rem auto;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #001D3D;
}

.footer-company div a:hover {
    color: #030303;
    text-decoration: underline;
}

.footer-company div a:active {
   transform: scale(0.8);
    transition: transform 0.2s ease-in;
}

.footer-support {
    height: 33rem;
    width:25%;
}

.footer-support div {
    width: 100%;
    position: relative;
    top: -4rem;
}

.footer-support div p {
    margin: 0.1rem auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: #001D3D;
}

.footer-support div a {
    margin: 0.5rem auto;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #001D3D;
}

.footer-support div a:hover {
    color: #030303;
    text-decoration: underline;
}

.footer-support div a:active {
    transform: scale(0.8);
    transition: transform 0.2s ease-in;
}

.footer-store div {
    margin: 1rem auto;
    width: 100%;
    position: relative;
    top: 0;
    left: 2rem;
}

.footer-store div img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.footer-store div img:active {
    transform: scale(0.8);
    transition: transform 0.2s ease-in;
}
