* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    width: 100vw;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar .search-bar {
    position: relative;
    left: 10rem;
}

.navigation-logo img {
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

#search-bar {
    width: 450px;
}

.search-bar .btn:hover {
    background-color: black;
    color: white;
}

.search-bar .btn:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}

.navbar #myNavbar-items {
    position: relative;
    left: 10rem;
    font-size: 1.2rem;
}

#myNavbar-items ul li {
    margin: 0 0.5rem;

}

#myNavbar-items ul li:hover {
    color: black;
}

.nav-item:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}

.navigation-logo img {
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

/* Main */
main {
    height: 90vh;
    width: 100vw;
    display: flex;
    background-image: url("./images/background1.jpg");
    background-size: cover;

}

.main-tagline {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    margin: auto 10rem;
}

.main-tagline .logo-name {
    color: white;
    font-size: 4rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.tagline {
    color: white;
    font-size: 4rem;
    font-weight: 600;
}


.login-tittle {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 35rem;
    height: 35rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    top: 4rem;
    right: 4rem;
}

.row div {
    margin: 0.5rem auto;
}

.button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.button button:active {
    transform: scale(0.8);
    transition: transform .2s ease-in;
}







